{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page - Encyclopedia
{% endblock %}

{% block body %}
<div class="d-flex flex-column gap-1">
  <h1>Create New Page</h1>
  <hr>
  <form action="/create" method="POST" class="d-flex flex-column gap-3">
    {% csrf_token %}
    <input type="text" class="form-control" name="title" placeholder="Title" autocomplete="off">
    <textarea class="form-control" rows="10" name="entry"
      placeholder="Descriptions (use markdown syntax)"></textarea>
    <input type="submit" value="Create Page" class="align-self-start btn btn-primary">
  </form>
</div>
{% endblock %}