{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit: {{title}} - Encyclopedia
{% endblock %}

{% block body %}
<div class="d-flex flex-column gap-1">
  <h1>Edit Page</h1>
  <hr>
  <form action="{% url 'edit' title=title%}" method="POST" class="d-flex flex-column gap-3">
    {% csrf_token %}
    <input type="text" class="form-control" name="title" placeholder="Title" autocomplete="off"
      value="{{ title }}">
    <textarea class="form-control" rows="10" name="entry"
      placeholder="Descriptions (use markdown syntax)">{{ entry }}</textarea>
    <input type="submit" value="Save Changes" class="align-self-start btn btn-primary">
  </form>
</div>
{% endblock %}