{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/linux-libertine" rel="stylesheet">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="p-5 sidebar col-lg-3 col-md-3 text-center position-fixed">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Wikipedia_logo_%28svg%29.svg"
                alt="Wikipedia logo" class="w-75 mt-5">
            <h1 style="font-family:'linux libertine c';" class="mb-2">Wiki</h1>
            <form action="{% url 'search' %}">
                <input class="search mb-3 px-2" autocomplete="off" type="text" name="q"
                    placeholder="Search Encyclopedia">
            </form>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            <div>
                <a href="{% url 'create' %}">Create New Page</a>
            </div>
            <div>
                <a href="{% url 'random' %}">Random Page</a>
            </div>
            {% block nav %}
            {% endblock %}
        </div>
        <div class="p-5 main col-lg-9 col-md-9 ml-auto mr-0">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>

</html>